/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';

/* Components */
@import 'cmps/AppHeader.css';
@import 'cmps/AppFooter.css';
@import 'cmps/UserMsg.css';

@import 'cmps/AppSideBar.css';
@import 'cmps/AppModal.css';
@import 'cmps/BoardList.css';
@import 'cmps/GroupPreview.css';
@import 'cmps/GroupHeader.css';
@import 'cmps/BoardPreview.css';
/* @import 'cmps/ContextMenu.css'; */
@import 'cmps/ContextMenu.css';
@import 'cmps/GroupMenu.css';
@import 'cmps/filteers/BoardFilter.css';
@import 'cmps/filteers/BoardFiltersBar.css';
@import 'cmps/filteers/FilterPopper.css';
@import 'cmps/filteers/PopperContentPerson.css';
@import 'cmps/BoardHeader.css';
@import 'cmps/TaskDetails.css';
@import 'cmps/MoveToConfirmationModal.css';


/* Pages */
@import 'pages/BoardIndex.css';
@import 'pages/BoardDetails.css';
@import 'pages/WelcomePage.css';
@import 'cmps/statusDropdown.css';
@import 'cmps/Date.css';
@import 'cmps/Members.css';
@import 'cmps/Task.css';
@import 'cmps/priority.css';
@import 'cmps/TaskSelectedModal.css';
@import 'cmps/DeleteConfirmationModal.css';


/* Layouts */
@import 'layouts/MainPageLayout.css';

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    overflow: hidden;
}

.app > * {
    width: 100%;
}

/* main {
    flex-grow: 1;
} */


