.app-header {
    background-color: var(--clr1);
    /* color: var(--clr1bg); */
    background:#e2f0e7
    
}
.app-header h5,svg {
    color:black;
}
.header-container {
    display: flex;
    align-items: center;
    background:#edeff8;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width:100%;
    padding-right:15px;
    padding-left:15px;

}
.header-container h5{
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left:0;
    margin-right:0;
}
.app-nav {
    margin-left:auto;
    display: flex;
    gap: 15px;
}
