#suggested-people {
    border: 1px solid #ccc;
    background: white;
    position: absolute;
    z-index: 1000;
}

#suggested-people div {
    padding: 10px;
    cursor: pointer;
}

#suggested-people div:hover {
    background-color: #f0f0f0;
}
.suggested-list {
    width:100%;
    /* background: rgb(218, 218, 255); */
    list-style-type: none;
    
}
.suggested-list-item {
    font-size: 1.1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:0.4em
}
.suggested-list-item:hover {
    background:#ccc;
    cursor: pointer;
}
.suggested-list li svg {
    
}
.add-person-btn {
    position: absolute;
    transform: translate(-35px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    opacity: 0;
    border-radius: 50%;
    padding: 0;
    margin: 7px;
    font-weight: bolder;
    font-size: 11px;
    background-color: #0073ea;
    color: #fff;
    z-index: 999;
    
}
.add-person-btn::after {
    content: '+';
}
.add-person-btn:hover {
    opacity: 1;
    background-color:var(--clr1)
} 
.task-member {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    cursor: pointer;
}
.task-member:hover .add-person-btn {
    opacity: 1;
}