.status-dropdown-container {
  position: absolute;
  display: inline-block;
  font-family: Arial, sans-serif;
}

.status-button {
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  white-space: nowrap;
  padding: 0.6em 0px;
}

.status-button:hover {
  opacity: 0.85;
}

.dropdown-menu {
  /* position: absolute;
  z-index: 999;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 160px;
  padding: 8px; */
  /* animation: fadeIn 0.15s ease-out; */
}

.dropdown-item {
  width: 90%;
  border: none;
  padding: 8px 12px;
  border-radius: 0px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  /* text-align: left; */
  cursor: pointer;
  margin-bottom: 6px;
  transition: transform 0.1s ease, opacity 0.2s ease;
  list-style-type: none;
}

.dropdown-item:last-child {
  margin-bottom: 0;
}

.dropdown-item:hover {
  opacity: 0.9;
  transform: scale(1.03);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* .popper-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white; /* Color matches Popper background 
    position: absolute;
    top: -5px; /* Positioning above the Popper 
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* Ensure it's above other elements 
} */
.popper-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgb(202, 190, 190); 
    position: absolute;
    top: -5px; /* Adjust this to precisely place above the Popper */
    left: 50%;
    transform: translateX(-50%);
}

.popper-arrow1::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent; /* Width of the arrow */
    border-right: 6px solid transparent; /* Width of the arrow */
    border-bottom: 8px solid rgb(168, 162, 162); /* Inner arrow color */
    position: relative;
    top: 0; /* Adjust as needed */
}

.popper-arrow1::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent; /* Width of the border */
    border-right: 7px solid transparent; /* Width of the border */
    border-bottom: 9px solid white; /* Border color */
    position: absolute; /* Position on the same point */
    top: 1px; /* Adjust to create a nice border effect */
    left: -1px; /* Center it */
}
