/* input.task-title:focus {
    background-color: rgb(207, 229, 247);
    transition: background-color 1s;
} */
.static-header {
  height:36px;
}
.task-status {
    width:100%;
  text-align: center;
      height: 99%;
}
.task-title {
        border: none; /* Remove all borders initially */
        background-color: transparent; /* Transparent background */
        transition: border 0.3s ease; /* Smooth transition for border */
    }
    
    .task-title:hover,
    .task-title:focus {
        border: 1px solid gray; /* Border appears on hover and focus */
        outline: none; /* Remove default focus outline */
    }

.task-dropdown-item {
  width: 90%;
  border: none;
  padding: 8px 12px;
  border-radius: 0px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  /* text-align: left; */
  cursor: pointer;
  margin-bottom: 6px;
  transition: transform 0.1s ease, opacity 0.2s ease;
  list-style-type: none;
}
.task-dropdown {
    width: 200px;
    /* padding: 10px; */
    /* border: 1px solid rgb(196, 196, 196); */
    position: relative;
    text-align: center;
}
.task-dropdown-item:last-child {
  margin-bottom: 0;
}

.task-dropdown-item:hover {
  opacity: 0.9;
  transform: scale(1.03);
}

.update-count {
    /* position: absolute; */
    right: -8px;
    bottom: -6px;
    line-height: 9px;
    font-size: .625rem;
    padding: 1px 3px;
    border-radius: 10px;
    background-color: #0073ea;
    color: #fff;
}

.labels-grid div:nth-child(1) {
  width: 40px;
}
.labels-grid div:nth-child(2) {
  width: 340px;
}
.labels-grid div:nth-child(3) {
  width: 190px;
}
.labels-grid div:nth-child(4) {
  width: 190px;
}
.labels-grid div:nth-child(5) {
  width: 190px;
}
.labels-grid div:nth-child(6) {
  width: 190px;
}
.labels-grid div:nth-child(7) {
  width: 190px;
}
/* .group.grid section:nth-child(1) {
  width: 40px;
} */
/* .group.grid section:nth-child(2) {
  width: 40px;
} */
.group.grid section:nth-child(3) {
  width: 340px;
}
.group.grid section:nth-child(4) {
  width: 190px;
}
.group.grid section:nth-child(5) {
  width: 190px;
}
.group.grid section:nth-child(6) {
  width: 190px;
}
.group.grid section:nth-child(7) {
  width: 190px;
}

/* .labels-grid. */
/* .grid-item.taskTitle span {
    position: absolute;
    display: block;
    right: -8px;
    bottom: 3px;
    line-height: 3px;
    font-size: .6rem;
    padding: 0.45rem 0.45rem;
    border-radius: 10px;
    background-color: #0073ea;
    color: #fff;
    width: auto;
    cursor: pointer;
    
} */
.task-details-link {
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}