input.task-title:focus {
    background-color: rgb(207, 229, 247);/*var(--clr1bg);*/
    transition: background-color 1s;
}
.task-status {
    width:100%;
  text-align: center;
}

.task-dropdown-item {
  width: 90%;
  border: none;
  padding: 8px 12px;
  border-radius: 0px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  /* text-align: left; */
  cursor: pointer;
  margin-bottom: 6px;
  transition: transform 0.1s ease, opacity 0.2s ease;
  list-style-type: none;
}
.task-dropdown {
    width: 200px;
    /* padding: 10px; */
    /* border: 1px solid rgb(196, 196, 196); */
    position: relative;
    text-align: center;
}
.task-dropdown-item:last-child {
  margin-bottom: 0;
}

.task-dropdown-item:hover {
  opacity: 0.9;
  transform: scale(1.03);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}