.app-container {
    width: 500px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.task-details-container {
  margin-bottom: 20px;
}
.task-details-container h2 {
    margin-bottom: 15px;
}
.task-details-form {
  width:100%;
  display: block;
}
.task-details-form input{
  flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:100%;
    margin-bottom:5px;
}
.task-details-form button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:100%;
    margin:0;
}
.update-section {
    margin-bottom: 20px;
}

.update-section h2 {
    margin-bottom: 15px;
}

form {
    display: flex;
}

form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.updates {
    margin-top: 15px;
}

.update-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: white;
}

.update-user {
    /* font-weight: bold; */
}

.update-text {
    margin-top: 5px;
}
.tab-bar {
  display: flex;
  cursor: pointer;
  /* margin-bottom: 1rem; */
}

.tab-bar button {
  /* flex: 1;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.3s; */
  display: flex
;
    justify-content: center;
    gap: 2px;
    align-items: center;
    background-color: #0000;
    border-radius: 4px;
    color: #323338;
    font-weight: 400;
    position: relative;
    padding: 8px 14px;
    margin: 0;
}
.tab-bar-hr {
    content: "";
    position: relative;
    right: 0;
    width: 500px;
    height: .5px;
    border-block-end: 1px solid #d1d4e3;
    margin-bottom: 1rem;
}
.tab-bar button.active-tab {
  /* background-color: #007bff;
  color: white; */
}
.tab-bar button.active-tab::before {
  content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 2.5px;
    background-color: #3c72e6;
}
.tab-bar button::after {
      content: "";
    position: absolute;
    right: 0;
    height: 16px;
    border-inline-end: 1px solid #d1d4e3;
}

.tab-content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width:100%;
}