/* input.task-title:focus {
    background-color: rgb(207, 229, 247);
    transition: background-color 1s;
} */
.task-status {
    width:100%;
  text-align: center;
}
.task-title {
        border: 1px solid transparent; /* No border initially */
        transition: border-color 0.3s; /* Smooth transition for border */
    }
    
    .task-title:hover {
        border: 1px solid gray; /* Border appears on hover */
    }

.task-dropdown-item {
  width: 90%;
  border: none;
  padding: 8px 12px;
  border-radius: 0px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  /* text-align: left; */
  cursor: pointer;
  margin-bottom: 6px;
  transition: transform 0.1s ease, opacity 0.2s ease;
  list-style-type: none;
}
.task-dropdown {
    width: 200px;
    /* padding: 10px; */
    /* border: 1px solid rgb(196, 196, 196); */
    position: relative;
    text-align: center;
}
.task-dropdown-item:last-child {
  margin-bottom: 0;
}

.task-dropdown-item:hover {
  opacity: 0.9;
  transform: scale(1.03);
}

.update-count {
    /* position: absolute; */
    right: -8px;
    bottom: -6px;
    line-height: 9px;
    font-size: .625rem;
    padding: 1px 3px;
    border-radius: 10px;
    background-color: #0073ea;
    color: #fff;
}
.grid-item.taskTitle span {
    position: absolute;
    display: block;
    right: -8px;
    bottom: 3px;
    line-height: 3px;
    font-size: .6rem;
    padding: 0.45rem 0.45rem;
    border-radius: 10px;
    background-color: #0073ea;
    color: #fff;
    width: auto;
    cursor: pointer;
    
}
.task-details-link {
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}
.task-details-link:hover {

    /*background-color: rgba(0, 0, 0, 0.1);  Light background on hover */
    /*transform: scale(1.05);  Slightly increase size */
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  Add a shadow */

}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}