
.board-details {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.group-list {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    flex: 1;
}

.add-group-section {
    margin-top: 20px;
}
.add-group-btn {
    margin: 0px;
    margin-top: 50px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid #d0d4e7;
    border-radius: 5px;
    color: #3c3c3f;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    cursor: pointer;
}

.add-group-btn:hover {
    color: #3c3c3f;
    background: rgba(197, 195, 195, 0.7);
}




