/* main app page layout with sidebar */
.main-page-layout {
    display: flex;
    height: 100vh;
    width: 100%;
    margin-top:35px;
    overflow: hidden;
}

.main-page-layout > div:last-child {
    flex: 1;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}