* {
  box-sizing: border-box;
  font-size: 14px;
}

html {
  /* overflow: hidden; */
  height: 100%;
}

body {
  margin: 0;
  color: var(--gray3);
  /* overflow: hidden; */
  height: 100vh;
}

h5 {
  margin:1rem;
}


/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .5em 0 .5em;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
} */



/* Dont stretch my Media */
/* img,
embed,
video,
object {
  max-width: 100%
} */

/* Simple and useful CSS Debugging Technique */
/* .debug * {
  outline: 1px solid gold
}

a.active {
  text-decoration: underline;
} */
 .editable-title {
  outline: none; /* Remove default outline */
  transition: border 0.3s ease; /* Smooth transition for the border */
}

.editable-title:hover {
  border: 2px solid blue; /* Change color as needed */
  padding: 2px; /* Optional: add some padding to avoid text touching the border */
  border-radius: 4px; /* Optional: make the corners rounded */
}